ul
    {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        overflow: hidden;  /* I Don't Know Why To Use This */
        background-color: indianred;
        font-size: 28px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

li
    {
        float: left;
    }

li a
    {
        text-align: center;
        text-decoration: none;
        display: block;  /* CELL or BOX TYPE */
        padding: 10px;
        color: whitesmoke;
    }

li a:hover
    {
        background-color: brown;
    }